
<form ng-submit="doUploadFile()">

    <div class="modal-body">
        <input class="form-control" type="file" file-model="uploadedFile"/>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" class="btn btn-default" >Upload</button>
        <br/>
        <span class="error">{{uploadResult}}</span>
    </div>
</form>

